@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "normalize.css";

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  height: 100%;
}

body, #root {
  height: 100%;
}