@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "normalize.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
}