
.display {
    text-align: right;
    min-height: 30px;
    font-size: 48px;
    margin-bottom: 10px;
    background-color: black;
}

.result {    
    background-color: green;
}

.input {
    background-color: #ccc;
}