.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input {
        margin-bottom: 10px;
        outline: none;

        &:focus {
            border: 2px solid blue;
            border-radius: 2px;
        }
    }

    button {
        &:focus {
            outline: 2px solid red;
        }

        &:hover {
            cursor: pointer;
        }
    }

    button.button--active {
        background-color: green;
        color: white;
    }

    button.button--inactive {
        background-color: grey;
        color: darkgrey;
        cursor: not-allowed;
    }

    .error {
        color: red;
    }
}