$cell-size: 40px;
$border-color: #000;
$cell-bg: #FFFFFF;
$cell-hover-bg: rgba(144, 144, 144, .7);



.board {
    width: $cell-size * 3;
    border: 1px solid $border-color;
    box-sizing: content-box;

    .row {
        height: $cell-size;

        &__cell {
            cursor: pointer;
            width: $cell-size;
            height: $cell-size;
            border-radius: 0%;
            border: 1px solid $border-color;
            background-color: $cell-bg;
            transition: background-color 0.6s ease;
            text-align: center;
            vertical-align: middle;
            font-size: 26px;
            color: green;

            &:hover {
                background-color: $cell-hover-bg;
            }
        }
    }
}